<div class="header">
    <div class="links">
        <div class="logo">
            <a routerLink="/events"> logo </a>
        </div>
        <div class="nav">
            <ul>
                <li><a routerLink="/events">Events</a></li>
                <li><a routerLink="/special">Special</a></li>
            </ul>
        </div>
    </div>
    <div class="auth">
        <div class="login">
            <a routerLink="/login" *ngIf="!auth.loggedIn()" >Login</a>
            <a style="cursor : pointer"  *ngIf="auth.loggedIn()" (click)="auth.logOutUser()" >LogOut</a>
        </div>
    </div>
</div>