@import 'src/assets/styles/colors';


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 17px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    width: 200px;
    margin-left: 100px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    padding: 10px  15px;
    background-color: $color-4;
    color: $color-1;
    border-radius: 20px;
}