@import 'src/assets/styles/colors';


button {
    width: 50%;
    border-radius: 8px;
    padding: 7px;
    margin: 7px auto;
    border: 0;
    cursor: pointer;
    background-color: $color-3;
    color: $color-1;
}