@import 'src/assets/styles/colors';

.event-card {
    width: 300px;
    height: 250px;
    border-radius: 12px;
    border: 1px solid $color-4;
    margin: 10px;
}
h3 {
    text-align: center;
    font-size: 22px;
    padding: 10px;
}
p {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    padding: 5px;
}
a {
    width: 120px;
    display: block;
    text-decoration: none;
    background-color: $color-3;
    padding: 15px;
    border-radius: 8px;
    color: $color-1;
    margin: 20px auto;
    text-align: center;
}
.date {
    border-top: 1px solid $color-4;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 0 0 8px 8px;
}