@import 'src/assets/styles/colors';


.input {
    margin: 10px auto;
}
input {
    width: 100%;
    outline: none;
    padding: 7px;
    border: 0;
    border: 1px solid $color-4;
    border-radius: 8px;
    margin-top: 10px;
    background-color: transparent;
}
label {
    font-size: 17px;
}