.login {
    width: 400px;
    border-radius: 12px;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid black;
}
h3 {
    font-size: 20px;
    padding: 10px;
}
form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.question {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    transition: .3s;
}
a:hover{
    text-decoration: underline;
}