@font-face {
    font-family: 'Baskervville';
    src: url('../fonts/Baskervville-Regular.woff2') format('woff2'),
        url('../fonts/Baskervville-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$baskerville : 'Baskervville';