@import 'src/assets/styles/fonts';
@import 'src/assets/styles/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 85%;
    margin: 50px auto;
}
body {
    background-color: $color-1;
    font-family: $baskerville;
}